*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  background-color: white;
  border: 1px solid #e1ebf7;
  width: 324px;
  height: 296px;
  padding: 85px 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  position: relative;

  h1 {
    cursor: pointer;
  }

  .icon {
    width: 50px;
    height: 50px;
  }
}

.container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background-color: rgb(51, 72, 169);
  width: 324px;
  height: 296px;
  padding: 85px 22px;
  transition: transform 300ms ease-in;
  transform: scaleX(0);
  transform-origin: right;
  border-radius: 5px;

}

.container:hover::before,
.container:focus::before {
  transform: scaleX(1);
}

.container {
  transition: color 300ms ease-in-out;
  z-index: 1;
}

.container:hover,
.container:focus {
  color: white;
}

.footer-container {

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  width: 100%;
  height: 20vh;
  // border: 1px solid black;
  

  .footer-logo {
    margin-left: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 35%;
  }


  .inputWithIcon { 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 4px #357AF6 solid; 
    border-radius: 20px;
    background-color: white;
    width: 300px;
    height: 35px;
    bottom: 10px;
    
    
    .input {
  
    width: 80%;
    height: 72px;
    margin-bottom: 0px;
    margin-top: 10px;
    }


  }

      .footer-inputbutton {
        display: flex;
        
    
      }

    .footer-fim-logo {

      width: 15%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin-right: 5%;
    }  




  
}

