.container {

    background-color: #ffff;
    border: 1px solid #e1ebf7;
    width: 324px;
    height: 296px;
    padding: 85px 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;

}

.container > .text > h1 {
    cursor: pointer;
}



.container:hover {
    background-color: orange;
    color: white;
    transition: linear 0.5s;
}



    
