body {
  margin: 0;
}
.flex {
  display: flex;
}
.img {
  width: 336px;
  height: 200px;
  object-fit: contain;
}
.nav {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  color: white;
  justify-content: center;
}
.activeNav {
  border-bottom: 5px solid #f56850;
  justify-content: center;
  color: #f56850;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
}
a {
  text-decoration: none;
  color: black;
}
.btn {
  width: 30px;
  margin-left: 10px;
  height: 30px;
  background-image: url("./img/right-arrow.png");
  background-size: 10px;
  background-repeat: no-repeat;
  border-radius: 4px;
  border: 1px solid black;
  background-position: center;
}
.lbtn {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  background-image: url("./img/left-arrow.png");
  background-size: 10px;
  background-repeat: no-repeat;
  border-radius: 4px;
  border: 1px solid black;
  background-position: center;
}
.Newsimg {
  height: 250px;
  width: 95%;
  margin: 0 auto;
  border-radius: 6px;
}
.img {
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
  display: inline-block;
  vertical-align: middle;
}
.title_container {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid #f5f5f5; */
}
.newsgrid {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 10px;
}

.grid {
  display: grid;
  grid-template-columns: auto auto auto;
  row-gap: 30px;
  column-gap: 30px;
}
.Newscontainer {
  width: 28vw;
  height: 100%;
}
.container {
  width: 28vw;
  /* width: 100%;
  min-width: 33%; */
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  border: 1px solid #e2e2e2;
  border-radius: 18px;
}
.productscontainer {
  width: 100vw;
  height: 100vh;
}
.wrapper {
  width: 80vw;
}
.newsContainer {
  width: 85vw;
  padding-top: 100px;
  padding-bottom: 20px;
  margin: 0 auto;
}
.pContainer {
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
  width: 80vw;
  height: 700px;
  border: 1px solid #e2e2e2;
  border-radius: 18px;
  position: relative;
  padding-bottom: 30px;
  margin-top: 100px;
}
.newssize {
  width: 28vw;
  height: 100%;
}
.media {
  display: flex;
  justify-content: space-between;
}
.first {
  display: flex;
  flex-direction: column;
}
.second {
  width: 40vw;
}
.avatar {
  width: 34vw;
  height: 485.82px;
  border: 1px solid #f5f5f5;
  object-fit: contain;
}
.home {
  color: white;
  height: 60%;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}
.home::-webkit-scrollbar {
  display: none;
}
.middle {
  display: flex;
  align-items: center;
  width: 85%;
  height: 150px;
  margin-top: 20px;
  overflow-x: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}
.middle::-webkit-scrollbar {
  /* display: none; */
}
.box {
  display: flex;
  margin-top: 20px;
  width: 34vw;
  height: 100px;
  align-items: center;
}
.similarproducts {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.specificnews {
  width: 80%;
  margin: 0 auto;
  margin-top: 120px;
  margin-bottom: 40px;
}
.a {
  width: 25vw;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  border: 1px solid #e2e2e2;
  border-radius: 18px;
}
.desc {
  margin-top: 30px;
  color: black;
  height: 550px;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}
.desc::-webkit-scrollbar {
  display: none;
}
@media (max-width: 900px) {
  .box {
    width: 100%;
  }
  .a {
    width: 40vw;
  }
  .newssize {
    width: 40vw;
  }
  .specificnews {
    width: 100%;
  }
  .similarproducts {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 20px;
    row-gap: 20px;
  }
  .title_container {
    font-size: 0.5rem;
    height: 110px;
  }
  .container {
    width: 43vw;
  }
  .newsgrid {
    grid-template-columns: auto auto;
    column-gap: 30px;
    row-gap: 20px;
  }
  .Newscontainer {
    width: 100%;
  }
  .Newsimg {
    width: 100%;
  }
  .newsContainer {
    width: 90vw;
  }
  .grid {
    grid-template-columns: auto auto;
    column-gap: 30px;
    row-gap: 30px;
  }
  .media {
    display: block;
  }
  .first {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .second {
    width: 100%;
    margin-top: 50px;
    height: 600px;
    overflow-y: scroll;
  }
  .avatar {
    width: 100%;
    height: 300px;
    margin-top: 10px;
  }
  .pContainer {
    height: auto;
  }
}
@media (max-width: 650px) {
  .newssize {
    width: 90vw;
  }
  .pContainer {
    width: 100vw;
  }
  .similarproducts {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }

  .a {
    width: 100%;
  }
  .container {
    width: 90vw;
  }
  .title_container {
    height: 70px;
  }
  .img {
    margin-top: 20px;
  }
  .newsgrid {
    display: grid;
    grid-template-columns: auto;
    row-gap: 20px;
  }
  .grid {
    grid-template-columns: auto;
    row-gap: 30px;
  }
}
@media (max-width: 830px) {
}
